.contenedor1 {
    border: 2px solid black;
    width: 500px;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
}

.contenedor1 .caja {
    float: left;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
}

.contenedor1 .caja1 {
    background-color: rgb(0, 140, 255);
    border: 2px solid gray;
    width: 250px;
    height: 150px;
    line-height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.contenedor1 .caja2 {
    background-color: rgb(255, 255, 0);
    width: 120px;
    height: 120px;
    line-height: 120px;
}

.contenedor1 .caja3 {
    background-color: rgb(255, 0, 0);
    border: 1px double black;
    width: 100px;
    height: 100px;
    line-height: 100px;
    clear: left;
}


   
.contenedor2 {
    border: 2px solid black;
    width: 500px;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}

.contenedor2 .caja {
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}


.contenedor2 .caja1 {
    background-color: rgb(0, 140, 255);
    border: 2px solid gray;
    width: 260px;
    height: 160px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 160px;
}


.contenedor2 .caja2 {
    background-color: rgb(255, 255, 0);
    width: 140px;
    height: 100px;
    right: 20px;
    top: calc(50% - 70px); 
    line-height: 100px;
}


.contenedor2 .caja3 {
    background-color: rgb(255, 0, 0);
    border: 1px double black;
    width: 140px;
    height: 100px;
    right: 20px;
    top: calc(50% + 30px); 
    line-height: 100px;
}


  
  
.contenedor3 {
    border: 2px solid black;
    width: 500px;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}

.contenedor3 .caja {
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}


.contenedor3 .caja1 {
    background-color: rgb(0, 140, 255);
    border: 2px solid gray;
    width: 260px;
    height: 150px;
    right: 15px;
    top: 15px;
    line-height: 150px;
}


.contenedor3 .caja2 {
    background-color: rgb(255, 255, 0);
    width: 100px;
    height: 100px;
    left: 15px;
    top: 5px; 
    line-height: 100px;
}


.contenedor3 .caja3 {
    background-color: rgb(255, 0, 0);
    border: 1px double black;
    width: 100px;
    height: 100px;
    left: 15px;
    top: 95px; 
    line-height: 100px;
}



  
.contenedor4 {
    border: 2px solid black;
    width: 500px;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}

.contenedor4 .caja {
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}


.contenedor4 .caja1 {
    background-color: rgb(0, 140, 255);
    border: 2px solid gray;
    width: 260px;
    height: 150px;
    right: 15px;
    top: 15px;
    line-height: 150px;
}


.contenedor4 .caja2 {
    background-color: rgb(255, 255, 0);
    width: 120px;
    height: 90px;
    right: 15px;
    bottom: 15px;
    line-height: 90px;
}


.contenedor4 .caja3 {
    background-color: rgb(255, 0, 0);
    border: 1px double black;
    width: 140px;
    height: 110px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 110px;
}


.contenedor5 {
    border: 2px solid black;
    width: 500px;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}

.contenedor5 .caja {
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}


.contenedor5 .caja1 {
    background-color: rgb(0, 140, 255);
    border: 2px solid gray;
    width: 260px;
    height: 160px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 160px;
}


.contenedor5 .caja2 {
    background-color: rgb(255, 255, 0);
    width: 130px;
    height: 90px;
    left: 20px;
    top: calc(50% - 90px);
    line-height: 90px;
}


.contenedor5 .caja3 {
    background-color: rgb(255, 0, 0);
    border: 1px double black;
    width: 120px;
    height: 90px;
    right: 15px;
    bottom: 15px;
    line-height: 90px;
}


.contenedor6 {
    border: 2px solid black;
    width: 500px;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    overflow: visible; 
}

.contenedor6 .caja {
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}


.contenedor6 .caja1 {
    background-color: rgb(0, 140, 255);
    border: 2px solid gray;
    width: 220px;
    height: 180px;
    right: -110px; 
    bottom: -90px; 
    line-height: 180px;
    z-index: 2;
}


.contenedor6 .caja2 {
    background-color: rgb(255, 255, 0);
    width: 120px;
    height: 90px;
    left: 15px;
    top: 15px;
    line-height: 90px;
    z-index: 3;
}


.contenedor6 .caja3 {
    background-color: rgb(255, 0, 0);
    border: 1px double black;
    width: 120px;
    height: 90px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 90px;
    z-index: 3;
}



