body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.contenedor-principal {
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    margin-bottom: 20px;
    color: #333;
}

header p {
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 500;
}

p {
    margin: 8px 0;
    line-height: 1.4;
    font-size: 16px;
    text-align: center;
}

.grid-ofertas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.tarjeta {
    padding: 20px 10px;
    border: 3px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tarjeta h2 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

.tarjeta p:not(.precio) {
    font-size: 15px;
    color: #555;
}

.precio {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.blue {
    color: #007bff;
}

.banner-prueba {
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    border: 3px solid #007bff; 
}

.banner-prueba p {
    margin: 0;
}

footer {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

footer h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

footer ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer li {
    font-size: 14px;
    margin-bottom: 5px;
}